<div class="bierdeckel left">
    <h2>Willkommen</h2>
</div>
<div class="bierdeckel right">
    <p>Bitte nenn uns deinen Namen:</p>
    <input type="text" class="form-control mb-2" placeholder="Name" required #name autofocus>
    <p>Wähle ein Emoji:</p>
    <input type="text" class="form-control mb-2" placeholder="Emoji" required #emoji autofocus>    
</div>

<div class="bottom_menu">
    <button class="btn btn-lg btn-primary btn-block mb-1 pub_button" (click)="clickConfirm(name.value, emoji.value)">Weiter</button>
</div>
