

<div *ngIf="!pubService.isOwner">
	Willkommen in der Bar
</div>

<div>
	<div class="container" *ngIf="pubService.isOwner">
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<h2>Quizzes</h2>
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action" *ngFor="let quiz of quizzes | async">{{quiz.name}}</a>
				</div>
				<a class="btn btn-primary float-right mt-2" routerLinkActive="active" href="/bar/{{barId}}/create">
					Quiz anlegen
				</a>
			</div>

			<div class="col-md-12 col-lg-6">
				<h2>Getränke Karte</h2>
				<div class="list-group" id="list-tab" role="tablist">
					<div class="list-group-item list-group-item-action align-middle" *ngFor="let item of menu | async">{{item.name}}: {{item.price}}€
						<button type="button" class="btn btn-danger float-right" (click)="clickDeleteItem(item)">Löschen</button>
					</div>
				</div>

				<button type="button" class="btn btn-primary  mt-2 mb-2" (click)="clickAddNewItem()">
					Menü Item hinzufügen
				</button>

				<div *ngIf="showAddMenuItem">
					<div class="alert alert-secondary fade show">
						<strong>Neues Getränk oder Gericht auf die Karte packen:</strong>
						<div>
							<label for="typeahead-basic">Name:</label>
							<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="newItem.name" />
							<label for="typeahead-basic">Price:</label>
							<input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newItem.price" />
						</div>
						<button type="button" class="btn btn-success mt-2" (click)="clickSaveNewItem()">
							Speichern
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
