
<div *ngIf="authService.isLoggedIn">
<div class="container" >
	<div class="row">
		<div class="card" *ngFor="let quiz of quizzes | async">
			<div class="card-body">
				<p class="card-text">{{quiz.name}}</p>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-block" (click)="clickAddNewItem()">
			Quiz anlegen
		</button>
	</div>
</div>

<div class="container" >
	Getränke Karte:
	<div class="card" *ngFor="let item of menu | async">
		<div class="card-body">
			<p class="card-text">{{item.name}}: {{item.price}}€</p>
			<button type="button" class="btn btn-primary btn-block" (click)="clickDeleteItem(item)">
				Löschen
			</button>
		</div>
	</div>

	<button type="button" class="btn btn-primary btn-block" (click)="clickAddNewItem()">
		Menü Item hinzufügen
	</button>

	<div class="container" *ngIf="showAddMenuItem">
		<div class="row">
			<div class="d-flex flex-wrap">
				Neues Getränk oder Gericht auf die Karte packen:
				<div>
					<label for="typeahead-basic">Name:</label>
					<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="newItem.name" />
					<label for="typeahead-basic">Price:</label>
					<input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newItem.price" />
				</div>
				<button type="button" class="btn btn-primary btn-block" (click)="clickSaveNewItem()">
					Speichern
				</button>
				

			</div>

		</div>

	</div>
</div>
</div>
