<div class="container">
	<div class="row">
		<div class="col">
			<div class="alert alert-warning mb-4 text-center" role="alert">
				<h1>{{orderCounts}}</h1>
				<h3>Deine Rechnung ist {{paymentAmount}}€</h3>
				<a href="{{barPaymentLink+paymentAmount}}">Bezahle per Paypal direkt an {{bar}}!</a>
			</div>

			<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
				
				<ngb-panel class="container" *ngFor="let question of questions$ | async">
					<ng-template ngbPanelTitle>
						<p><span class="badge badge-pill badge-success"> {{question.answer}} </span> {{question.question}}</p>
					</ng-template>
					<ng-template ngbPanelContent>
						<div *ngFor="let group of groups$ | async">
							<div *ngFor="let submission of submissions$ | async">
								<div *ngIf="submission.questionId == question.id && submission.quizId == quiz && submission.groupId == group.name">
									<span class="d-block p-2 bg-primary text-white" [class]="submission.groupId == groupId ? 'bg-primary': 'bg-white'">
										<p>
											<span class="badge badge-pill badge-secondary" [class]="submission.answer == question.answer ? 'bg-success': 'bg-danger'"> {{submission.answer}} </span>
											<span [class]="submission.groupId == groupId ? 'text-light': 'text-dark'"> {{group.name}} </span>
										</p>
									</span>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>