<div class="container-fluid">
	<h2>neues Quiz erstellen</h2>
	<form (ngSubmit)="clickSaveQuiz()" novalidate>
		<div class="row">
			<div class="col-md-12 col-lg-6">
				<label for="typeahead-name">Quiz Titel</label>
				<div class="form-row align-items-center">
					<input id="typeahead-name" type="text" class="form-control" name="name" [(ngModel)]="newQuiz.name" />
					
				</div>
			
				<h4>Fragen:</h4>
				<p *ngIf="questions.length < 1">Keine fragen noch...</p>
				<div class="card" *ngFor="let question of questions">
					<div class="card-body">
						<p class="card-text">Question: {{question.question}}, Answer:{{question.answer}}</p>
						<div *ngIf="question.A !== null ">
							A:{{question.A}}
							B:{{question.B}}
							C:{{question.C}}
							D:{{question.D}}
						</div>
						<button type="button" class="btn btn-danger float-right" (click)="clickDeleteQuestion(question)">
							Löschen
						</button>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-lg-6 m-2">
				<div class="d-flex flex-wrap justify-content-center">
					<button type="button" class="btn btn-primary pub_button" (click)="clickAddNewQuestion()">
						Frage hinzufügen
					</button>
				</div>
				<div class="alert alert-secondary fade show" *ngIf="showAddQuestion">
					<strong>Neue Frage hinzufügen:</strong>
					<form (ngSubmit)="clickSaveNewQuestion()" novalidate>
						<div class="form-group">
							<div class="form-group">
								<label for="typeahead-question">Fragetext</label>
								<textarea id="typeahead-question" class="form-control" name="question" [(ngModel)]="newQuestion.question" ></textarea>
							</div>
							<div class="form-inline">
								<div class="input-group align-items-center">
									<input id="typeahead-A" type="text" class="form-control mb-2 mr-sm-2" name="A" placeholder="A" [(ngModel)]="newQuestion.A"/>
									<input id="typeahead-Aa" type="radio" name="answer" class="form-check-input" [(ngModel)]="newQuestion.answer" value="A"/>
								</div>
							</div>
							<div class="form-inline">
								<div class="input-group align-items-center">
									<input id="typeahead-B" type="text" class="form-control mb-2 mr-sm-2" name="B" placeholder="B" [(ngModel)]="newQuestion.B" />
									<input id="typeahead-Ba" type="radio" name="answer" class="form-check-input" [(ngModel)]="newQuestion.answer" value="B"/>
								</div>
							</div>
							<div class="form-inline">
								<div class="input-group align-items-center">
									<input id="typeahead-C" type="text" class="form-control mb-2 mr-sm-2" name="C" placeholder="C" [(ngModel)]="newQuestion.C" />
									<input id="typeahead-Ca" type="radio" name="answer" class="form-check-input" [(ngModel)]="newQuestion.answer" value="C"/>
								</div>
							</div>
							<div class="form-inline">
								<div class="input-group align-items-center">
									<input id="typeahead-D" type="text" class="form-control mb-2 mr-sm-2" name="D" placeholder="D" [(ngModel)]="newQuestion.D" />
									<input id="typeahead-Da" type="radio" name="answer" class="form-check-input" [(ngModel)]="newQuestion.answer" value="D"/>	
								</div>
							</div>
							<button type="submit" class="btn btn-primary btn-success pub_button">
								Speichere Frage
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="bottom_menu">
				<button type="submit" class="btn btn-success ml-2 pub_button" (click)="clickSaveQuiz()">
					Speichere Quiz
				</button>
			</div>
		</div>
	</form>
</div>
