<p>creator works!</p>

<div class="container" >
    <!-- <div class="d-flex flex-wrap">
        <label for="typeahead-basic">Quiz Titel</label>
        <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="newQuiz.name" />
    </div> -->
    
	Fragen:
	<!-- <div class="card" *ngFor="let question of questions | async">
		<div class="card-body">
			<p class="card-text">
                {{question.question}}: {{question.answer}}€</p>
                <div *ngIf="question.A !== null ">
                    {{question.A}}, {{question.B}}, {{question.C}}, {{question.D}}
                </div>
			<button type="button" class="btn btn-primary btn-block" (click)="clickDeleteQuestion(question)">
				Löschen
			</button>
		</div>
	</div> -->

	<button type="button" class="btn btn-primary btn-block" (click)="clickAddNewQuestion()">
		Frage hinzufügen
	</button>

	<div class="container" *ngIf="showAddQuestion">
		<div class="row">
			<div class="d-flex flex-wrap">
				Neue Frage hinzufügen:
				<div>
					<label for="typeahead-basic">Fragetext:</label>
					<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="newQuestion.question" />
					<label for="typeahead-basic">A:</label>
                    <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.A"/>
					<input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.answer" ngValue="A"/>
					<label for="typeahead-basic">B:</label>
                    <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.B" />
					<input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.answer" ngValue="B"/>
					<label for="typeahead-basic">C:</label>
                    <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.C" />
					<input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.answer" ngValue="C"/>
					<label for="typeahead-basic">D:</label>
                    <input id="typeahead-basic" type="number" class="form-control" [(ngModel)]="newQuestion.D" />
                    <input id="typeahead-basic" type="radio" class="form-control" [(ngModel)]="newQuestion.answer" ngValue="D"/>
				</div>
				<button type="button" class="btn btn-primary btn-block" (click)="clickSaveNewQuestion()">
					Speichern
				</button>

			</div>

		</div>

	</div>
</div>
