
<div id="main" style="position: relative;">
  <div class="bierdeckel left">
    <h2>{{quizname}}</h2>
    <table class="score_overview">
      <thead>
        <tr>
          <th></th>
          <th>
            <img src="./assets/media/bier_icon.svg">
          </th>
          <!-- <th>
            <img src="./assets/media/score_icon.svg">
          </th>   -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groups | async">
          <td>{{group.name}}</td>
          <td>{{groupOrders[group.name]}}</td>
          <!-- <td>{{getScore(group)}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container video_container">
    <div class="row">
      <video class="moderator" #moderatorVideo autoplay playsinline></video>
      <div #audioParent class="d-none"></div>
    </div>
  </div>

<div *ngIf="pubService.isOwner" style="position:absolute; bottom: 0px; width: 100%;">
  <!-- IF THIS USER IS THE OWNER -->

  <div class="container fixed-bottom" *ngFor="let question of questions | async">
    <div class="row "  *ngIf="question.active">
      <div class="col-12">
        <button type="button" class="btn btn-primary btn-block" (click)="nextQuestion(question)">Nächste Runde</button>
      </div>  
      <div class="col-12">
        Momentane Frage:
        <div class="card">
          <div class="card-body">
            <p class="card-text">{{question.question}}</p>
          </div>
        </div>

        <div class="d-flex flex-wrap mt-4 answers_wrapper">
          <button type="button" class="btn btn-primary btn-block answer" >{{question.A}}</button>
          <button type="button" class="btn btn-primary btn-block answer" >{{question.B}}</button>
          <button type="button" class="btn btn-primary btn-block answer" >{{question.C}}</button>
          <button type="button" class="btn btn-primary btn-block answer" >{{question.D}}</button>
        </div>
      </div>
    </div>
  </div>
</div>



  <div *ngIf="!pubService.isOwner">
  <div class="container" *ngFor="let question of questions | async">
    <div class="row" *ngIf="question.active">
      <div class="col-12">
  
      </div>
    </div>
    <div class="row" *ngIf="question.active">  
      <div class="col-12 fixed-bottom">
        <div class="d-flex flex-wrap justify-content-end">
          <div (click)="order('🍺')" class="rounded-circle m-2 drink">🍺</div>
        </div>
        <div class="d-flex flex-wrap justify-content-end">
          <div (click)="order('🍹')" class="rounded-circle m-2 drink">🍹</div>
        </div>
        <div class="d-flex flex-wrap justify-content-end">
          <div (click)="order('🥃')" class="rounded-circle m-2 drink">🥃</div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <p class="card-text">{{question.question}}</p>
          </div>
        </div>

        <div class="d-flex flex-wrap mt-4 answers_wrapper">
          <button type="button" [ngClass]="currentAnswer === 'A' ? 'active' : ''" class="btn btn-primary btn-block answer" (click)="submit(question, 'A')">{{question.A}}</button>
          <button type="button" [ngClass]="currentAnswer === 'B' ? 'active' : ''" class="btn btn-primary btn-block answer" (click)="submit(question, 'B')">{{question.B}}</button>
          <button type="button" [ngClass]="currentAnswer === 'C' ? 'active' : ''" class="btn btn-primary btn-block answer" (click)="submit(question, 'C')">{{question.C}}</button>
          <button type="button" [ngClass]="currentAnswer === 'D' ? 'active' : ''" class="btn btn-primary btn-block answer" (click)="submit(question, 'D')">{{question.D}}</button>  


      </div>
      <div class="d-flex flex-wrap footer_wrapper">
        <ng-container *ngFor="let groupMember of groupMembers | async">
          <div class="rounded-circle m-2 text-center friend"><div class="d-inline icon">{{groupMember.icon}}</div></div>
        </ng-container>
        <p class="drink_list">10</p>
      </div>
    </div>

  </div>

</div>
</div>