.score_overview {
    font-family: 'Zeyada';
}

.score_overview img{
    height: 25px;
    width: auto;
}

video.moderator {
    object-fit: cover;
}

.friend {
    background-color: rgba(255, 255, 255, 0.8);; 
    height: 2em; 
    width: 2em; 
    display:inline;
}

.friend .icon {
    font-size: 1.4em;
}

.bierdeckel.left {
    position: absolute;
    width: 289px;
    height: 284px;
    left: -55px;
    top: -83.91px;

    transform: rotate(-12deg);

    justify-content: center;
}

.drink {
    background-color: #E70053; 
    height: 60px; 
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.answers_wrapper {
    justify-content: center;
    margin-top: 10px;
}

.answer {
    box-sizing: border-box;
    width: 45%;
    margin: 5px;

    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-family: 'Reem Kufi';
    color: black;
}

.answer.active {
    background-color: #066AA1 !important;
}

.video_container {
    background-color: lightgray;

    position: fixed;
    top: 250px;
    left: 15px;

    width: 70%;
    height: auto;
}

.footer_wrapper {
    justify-content: flex-end;
}

.drink_list {
    color: white;
    font-family: 'Zeyada';
    font-size: 30px;

    margin: 0.5rem;
}


.drink:active::after {
    background-color: rgb(231, 79, 135);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.drink:not(:active)::after  {
    transition: all 1s step-end;
}

.drink:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.drink::after {
    content: "";
    display: inline-block;
    background-color: none;

    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}





@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}